{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">View Subjects</h1>
        <table class="table">
            <tr>
                <th>Subject ID</th>
                <th>Subject Name</th>]
                <th>Class</th>
                <th>Book Name</th>
                <th>Suject Teacher</th>
                <th>Added Date</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
</div>

{% endblock %}